<div class="nav">
  <!-- <div class="back" (click)="goToDashboard()">←</div> -->
  <mat-icon>assignment</mat-icon>
  <div class="title">
    <h1>Your Current Rules</h1>
  </div>
  <div class="newrule">
  </div> 
</div>

<!-- <button mat-raised-button (click)="gotoCreate()" class='addnew' style='display: inline-block;'>Add a New Rule <mat-icon class="add-icon">add</mat-icon></button> -->
<button mat-raised-button (click)="gotoSynthesize()" class='addnew' style='display: inline-block;' *ngIf="userDataService.mode!='c'">Modify rules<mat-icon class="add-icon">offline_bolt</mat-icon></button>
<button mat-raised-button (click)="gotoCreate()" class='addnew' style='display: inline-block;' *ngIf="userDataService.mode=='c'">Add a new rule <mat-icon class="add-icon">offline_bolt</mat-icon></button>

<mat-list>
  <!-- <mat-list-item class="rule-display" *ngFor="let rule of RULES; let i = index">
    <div class="rule-blocks">
      <div *ngFor="let word of rule.words; let i = index" class="rule-block">
        <div class="rule-word">
          {{rule.words[i]}}
        </div>
        <div class="rule-icon">
          <mat-icon>{{rule.icons[i]}}</mat-icon>
          <div class="underneath">
            {{rule.descriptions[i]}}
          </div>
        </div>
      </div>
    </div>
    <div class="rule-manage">
      <mat-icon (click)="editRule(i)">create</mat-icon>
      <mat-icon (click)="deleteRule(ruleids[i])">delete_outline</mat-icon> 
    </div>
  </mat-list-item> -->

  <mat-list-item class="rule-display" *ngFor="let rule of RULES; let i = index">
    <div class="rule-blocks">
      <table class="rule-table">
        <tr class="rule-table" *ngFor="let word of rule.words; let i = index">
          <td class="rule-word rule-table">{{rule.words[i] == "and"? "" :rule.words[i]}}</td>
          <td class="rule-content rule-table">
            <ng-container *ngFor="let desc of rule.enhancedDesc[i]">
              <ng-container *ngIf="desc[0]=='location'"><span class="zone-name">{{desc[1]}}</span></ng-container>
              <ng-container *ngIf="desc[0]==''">{{desc[1]}}</ng-container>
            </ng-container>
            <!-- <span class="zone-name">Test</span>{{rule.descriptions[i]}} -->
          </td>
        </tr>
      </table>
    </div>
    <div class="rule-manage">
      <mat-icon (click)="editRule(i)" *ngIf="userDataService.mode=='c'">create</mat-icon>
      <mat-icon (click)="deleteRule(ruleids[i])" *ngIf="userDataService.mode=='c'">delete_outline</mat-icon> 
    </div>
  </mat-list-item>
</mat-list>